:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.main-window {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* MANO DIZAINAS */
.menu-button {
  width: 100%;
  background-color: #374151; /* Tailwind bg-gray-700 */
  padding: 10px;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out;
}

.menu-button:hover {
  background-color: #4b5563; /* Slightly lighter gray for hover effect */
}

.menu-name {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.menu-hint {
  font-size: 12px;
  color: #9ca3af; /* Tailwind text-gray-400 */
}
