.info-page {
    margin-top: 1em;
    text-align: center;
  }
  
  .info-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .custom-button {
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
    height: 50px;
    background-color: #374151; /* Tailwind bg-gray-800 */
    color: white;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  .custom-button:hover {
    background-color: #4b5563; /* Darker bg */
    border-color: #4b5563; /* Subtle border effect */
  }

  .dropdown-section {
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #374151;
  }
  
  .dropdown-button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #4b5563;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .dropdown-button:hover {
    background-color: #6b7280; /* Slightly lighter gray for hover effect */
  }
  
  .dropdown-content {
    padding: 10px 15px;
    background-color: #374151;
  }
  
  .consent-notice {
    margin-top: 15px;
    font-size: 0.9em;
    font-style: italic;
  }